{% extends 'layout.html' %}

{% block content %}
<main id="browse-tracks">
    <header class="browse-header">
        {% if not highlight %}
        <!-- Mark up for normal browsing page title heading -->
        <h1 class="browse__heading">{{heading}}</h1>
        {% else %}
        <!-- Mark up for the heading containing highlight such as search key 'Artist', 'Author' that should be emphasized -->
        <h1 class="browse__heading">
            <span class="heading-text">{{heading}}</span>
            <span class="heading-highlight">{{highlight}}</span>
        </h1>
        {% endif %}

        <h3 class="browse__subheading"><strong>{{number_of_tracks}}</strong> Tracks</h3>
    </header>

    <!-- Tracks table layout -->
    <table class="browse-table track-table">
        <thead class="browse-table__head">
            <tr>
                <th>No</th>
                <th>Title</th>
                <th class="track-album">Album</th>
                <th class="track-genres">Genre(s)</th>
                <th class="track-duration">Duration</th>
            </tr>
        </thead>
        <tbody class="browse-table__body">
            {% for track in tracks %}
            <tr class="browse-row">
                <td>
                    {{(track.index or 0) + 1}}
                </td>
                <td class="track-heading">
                    <a class="link track-heading__title" href="{{track.track_detail_url}}">{{track.title}}</a>
                    <span class="track-heading__artist">{{track.artist}}</span>
                </td>
                <td class="track-album">
                    <a href="{{track.album_detail_url}}" class="link">
                        {{track.album}}
                    </a>
                </td>
                <td class="track-genres">{{track.genres}}</td>
                <td class="track-duration">{{track.track_duration}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Page navigation -->
    <footer>
        <nav class="browse-nav">
            <div class="pave-nav">
                {% if first_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{first_tracks_url}}'">First</button>
                {% else %}
                <button class="btn btn-fill" disabled>First</button>
                {% endif %}

                {% if prev_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{prev_tracks_url}}'">Previous</button>
                {% else %}
                <button class="btn btn-fill" disabled>Previous</button>
                {% endif %}
            </div>
            <div class="page">
                {{page+1}}
            </div>
            <div class="pave-nav">
                {% if next_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{next_tracks_url}}'">Next</button>
                {% else %}
                <button class="btn btn-fill" disabled>Next</button>
                {% endif %}

                {% if last_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{last_tracks_url}}'">Last</button>
                {% else %}
                <button class="btn btn-fill" disabled>Last</button>
                {% endif %}
            </div>
        </nav>
    </footer>
</main>
{% endblock %}