{% extends 'layout.html' %} {% block content %}
<main id="tracks">
    <header class="tracks-header">
        {% if not highlight %}
        <!-- Mark up for normal browsing page title -->
        <h1>{{title}}</h1>
        {% else %}
        <!-- Mark up for the title containing highlight such as search key 'Artist', 'Author' that should be emphasized -->
        <h1>
            <span class="title">{{title}}</span>
            <span class="highlight">{{highlight}}</span>
        </h1>
        {% endif %}
    </header>

    <!-- Tracks table layout -->
    <table class="track-table">
        <thead class="track-table__head">
            <tr>
                <th>Title</th>
                <th>Album</th>
                <th>Genre(s)</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody class="track-table__body">
            {% for track in tracks %}
            <tr class="track-row">
                <td class="track-heading">
                    <a class="link track-heading__title">{{track.title}}</a>
                    <span class="track-heading__artist">{{track.artist}}</span>
                </td>
                <td class="track-album">{{track.album}}</td>
                <td>
                    {% for genre in track.genres %}
                    {{genre}}
                    {% endfor %}
                </td>
                <td class="track-duration">{{track.track_duration}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Page navigation -->
    <footer>
        <nav class="tracks-nav">
            <div class="pave-nav">
                {% if first_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{first_tracks_url}}'">First</button>
                {% else %}
                <button class="btn btn-fill btn-disabled" disabled>First</button>
                {% endif %}

                {% if prev_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{prev_tracks_url}}'">Previous</button>
                {% else %}
                <button class="btn btn-fill btn-disabled" disabled>Previous</button>
                {% endif %}
            </div>
            <div class="page">
                {{page+1}}
            </div>
            <div class="pave-nav">
                {% if next_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{next_tracks_url}}'">Next</button>
                {% else %}
                <button class="btn btn-fill btn-disabled" disabled>Next</button>
                {% endif %}

                {% if last_tracks_url %}
                <button class="btn btn-fill" onclick="location.href='{{last_tracks_url}}'">Last</button>
                {% else %}
                <button class="btn btn-fill btn-disabled" disabled>Last</button>
                {% endif %}
            </div>
        </nav>
    </footer>
</main>
{% endblock %}