{% extends 'layout.html' %}

{% block content %}
<main id="auth">
    <div class="form-wrapper">
        <div class="auth-heading">
            <h1 class="auth-heading__title">{{ title }}</h1>
            <p class="auth-heading__subtitle">{{sub_title}}</p>
        </div>
        <form class="auth-form" method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }}
            <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="auth-form__field">{{ form.user_name.label }} {{ form.user_name }}
                {% if form.user_name.errors or user_name_error_message is not none %}
                <ul class="auth-form_errors">
                    {% if user_name_error_message is not none %}
                    <li>
                        {{ user_name_error_message }}
                    </li>
                    {% endif %}
                    {% for error in form.user_name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="auth-form__field">{{ form.password.label }} {{ form.password }}
                {% if form.password.errors or password_error_message is not none %}
                <ul class="auth-form__errors">
                    {% if password_error_message is not none %}
                    <li>
                        {{ password_error_message }}
                    </li>
                    {% endif %}
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {{ form.submit }}

            <!-- Auth redirect between login and register pages -->
            {% if title.lower() == 'login' %}
            <p class="auth-redirect"><span>Do not have an accout?</span> <a class="link"
                    href="{{ url_for('authentication_bp.register') }}">Sign Up!</a></p>
            {% else %}
            <p class="auth-redirect"><span>Already have an accout?</span> <a class="link"
                    href="{{ url_for('authentication_bp.login') }}">Login!</a></p>
            {% endif %}
        </form>
    </div>
</main>
{% endblock %}