#auth {
}

#auth .form-wrapper {
    padding: 2rem 3rem;
    border-radius: 10px;
    border: 2px solid var(--color-gray-4);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.auth-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

.auth-heading .auth-heading__title {
    color: var(--color-primary-7);
}

.auth-heading .auth-heading__subtitle {
    color: var(--color-gray-6);
    font-weight: 400;
    font-size: 0.9rem;
}

#auth .auth-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Div that contains label and input */
.auth-form .auth-form__field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    min-width: min(18rem, 70vw);
}

.auth-form__field label {
    color: var(--color-gray-7);
}

.auth-form__field input {
    padding: 0.7rem 1rem;
    border: 1px solid var(--color-gray-5);
    box-shadow: 1px 1.2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.auth-form__field input:focus {
    outline: var(--color-primary-6) solid 1.8px;
}

/* Submit button */
.auth-form #submit {
    display: block;
    padding: 0.7rem 1rem;
    margin-top: 5px;
    margin-bottom: -7px;
    background-color: var(--color-primary-6);
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.auth-form #submit:hover {
    background-color: var(--color-primary-8);
}

.auth-redirect {
    color: var(--color-gray-7);
    font-size: 0.9rem;
    text-align: center;
}

.auth-redirect a {
    display: inline-block;
    margin-left: 0.5rem;
    color: var(--color-primary-6) !important;
}

.auth-redirect a:hover {
    text-underline-offset: 4px !important;
}

/* List of error messages */
.auth-form__errors {
    max-width: 20rem;
    margin-bottom: -5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-danger);
}

/* Each error message */
.auth-form .auth-form__errors li {
}
