/* Album and track browsing page common styling */
#browse {
    display: flex;
    padding: 3rem 15%;
    gap: 2rem;
    align-items: stretch;
}

.browse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-transform: capitalize;
    color: var(--color-primary-7);
}

.browse-header .heading-text {
    color: var(--color-gray-7);
    font-weight: 400;
}

.browse-header .highlight {
    color: var(--color-primary-7);
}

.browse__subheading {
    align-self: flex-end;
    color: var(--color-gray-7);
    font-weight: 600;
}

.browse-table {
    border-collapse: separate;
    border-spacing: 0px 0px;
}

.browse-table__head {
    border-bottom: 2.5px solid var(--color-gray-4);
}

.browse-table__head th {
    text-align: left;
    padding: 5px 0;
    color: var(--color-primary-8);
    border-bottom: 2px solid var(--color-gray-4);
    border-collapse: separate;
}

.browse-table__head th:not(:last-child) {
    padding-right: 1.5rem;
}

.browse-row:hover {
    /* background-color: var(--color-primary-2) !important; */
    /* filter: brightness(104.5%); */
    background-color: var(--color-primary-1) !important;
}

.browse-row:nth-of-type(2n) {
    background-color: var(--color-gray-2);
}

.browse-row td {
    padding: 6px 0;
}

/* Album browsing page styling */
.album-row .album-title {
    font-weight: 600;
    color: var(--color-gray-7);
    cursor: pointer;
}

.album-row td {
    padding: 13.5px 0;
}

/* Track browsing page styling */
.track-row .track-heading {
    display: flex;
    flex-direction: column;
}

.track-row .track-heading__title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-gray-7);
    cursor: pointer;
}

.track-heading__artist {
    font-size: 0.9rem;
    color: var(--color-gray-6);
}

.genres-cell {
    margin-top: -5px;
    padding: 7px 0;
}

/* Navigation */
.browse-nav {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.browse-nav .pave-nav {
    display: flex;
    gap: 0.5rem;
}

.browse-nav .pave-nav:last-child {
    margin-right: 2.5rem;
}

.browse-nav .page {
    flex: 1;
    text-align: center;
}
