/* Re-usable header component styling */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem 2rem;

    padding: 0.75rem 3.5vw;
    border-bottom: 2px solid var(--color-gray-3);
}

/* Search icon for showing the search form in the mobile screen */
.search-icon {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.search-icon:hover {
    background-color: var(--color-gray-3);
}

@media only screen and (min-width: 691px) {
    .search-icon {
        display: none;
    }
}

/* Header searchbar form styling */
.search-form {
    display: flex;
    gap: 0.5rem;
}

@media only screen and (max-width: 690px) {
    .search-form {
        width: 100%;
        display: none;
    }
}

.search-form select {
    min-height: 42px;
    background-color: var(--color-primary-6);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 1.1rem;
    border: 2px solid transparent;
}

.search-form select:hover {
    background-color: var(--color-primary-7);
}

.search-form select:focus {
    border: 2px solid var(--color-gray-4);
    background-color: var(--color-gray-2);
    color: var(--color-gray-7);
}

.search-form select option {
    background-color: var(--color-gray-2);
}

.search-form__group {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    flex-grow: 1;
}

.search-form__group:focus-within {
    outline: var(--color-primary-6) solid 2px;
}

.search-form__group .search-form__field {
    flex-grow: 1;
}

.search-form__group .input {
    height: 100%;
    width: 100%;
    padding: 0 7px;
    border: 1.5px solid var(--color-gray-4);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

@media only screen and (min-width: 600px) {
    .search-form__group .input {
        min-width: 14rem;
    }
}

.search-form__group .submit {
    padding: 5px;
    background-color: var(--color-primary-6);
    border: none;
    color: var(--color-white);
}

.search-form__group .submit:hover {
    background-color: var(--color-primary-8);
}

/* Header navigation */
.header__nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (max-width: 1150px) {
    .header__nav {
        min-width: 80vw;
    }    
}

.header__nav-items,
.header__nav-auth {
    display: flex;
    align-items: center;
}

.header__nav-items {
    gap: 1rem;
}

.header__nav-auth {
    gap: 0.5rem;
}

/* Header user name indication */
.header__user {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
