#home {
    display: flex;
    flex-direction: column;
    padding: 7rem 10rem;
    gap: 2rem;
}

@media only screen and (max-width: 900px) {
    #home {
        padding: 5rem 3%;
    }
}

.home__heading {
    max-width: 65rem;
    font-size: 3.8rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primary-9);
}

@media only screen and (max-width: 900px) {
    .home__heading {
        font-size: 9vw;
    }
}

.home__sub-heading {
    color: var(--color-gray-6);
    font-size: 1.2rem;
    text-align: center;
}

.home__action {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 1.5rem;
}

@media only screen and (max-width: 600px) {
    .home__action {
        margin-top: 1rem;
    }
}

.home__btn {
    min-width: 12.5rem;
    text-align: center;
    font-size: 1.45rem !important;
}

@media only screen and (max-width: 400px) {
    .home__btn {
        width: 95%;
    }
}
