#home {
    display: flex;
    flex-direction: column;
    padding: 7rem 10rem;
    gap: 2rem;
}

.home__heading {
    max-width: 65rem;
    font-size: 3.8rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primary-9);
}

.home__sub-heading {
    color: var(--color-gray-6);
    font-size: 1.2rem;
}

.home__action {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 1.5rem;
}

.home__btn {
    min-width: 12.5rem;
    text-align: center;
    font-size: 1.45rem !important;
}
