/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Import App CSS files */
@import './header.css';
@import './footer.css';
@import './home.css';
@import './auth.css';
@import './browse.css';
@import './album-detail.css';
@import './track-detail.css';
@import './reviews.css';
@import './flash.css';

:root {
    /* Primary color sheme */
    --color-primary-1: #eff6ff;
    --color-primary-2: #dbeafe;
    --color-primary-3: #bfdbfe;
    --color-primary-4: #93c5fd;
    --color-primary-5: #60a5fa;
    --color-primary-6: #3b82f6;
    --color-primary-7: #2563eb;
    --color-primary-8: #1d4ed8;
    --color-primary-9: #1e40af;
    --color-primary-10: #1e3a8a;

    --color-danger: #db2777;

    /* Gray color scheme */
    --color-gray-1: #f9fafb;
    --color-gray-2: #f3f4f6;
    --color-gray-3: #e5e7eb;
    --color-gray-4: #d1d5db;
    --color-gray-5: #9ca3af;
    --color-gray-6: #6b7280;
    --color-gray-7: #4b5563;
    --color-gray-8: #374151;
    --color-gray-9: #1f2937;
    --color-gray-10: #111827;

    --color-black: #1a1a1a;
    --color-white: #f9f9f9;

    --shadow-light: 1px 1.5px 2.2px rgb(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    min-height: 100vh;
    background-color: var(--color-gray-1);
    color: var(--color-gray-8);
}

/* Apply small font sizes for small screen <= 900px using css inheritance */
@media only screen and (max-width: 900px) {
    html {
        font-size: calc(16px * 0.95);
    }
}

/* Apply smaller font sizes for small screen <= 600px using css inheritance */
@media only screen and (max-width: 600px) {
    html {
        font-size: calc(16px * 0.9);
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: calc(16px * 0.85);
    }
}

main {
    min-height: 82.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

strong {
    font-weight: 700;
}

input,
select,
button {
    border: none;
}

input[type='submit'] {
    cursor: pointer;
}

a,
button {
    cursor: pointer;
}

a:visited {
    color: var(--color-gray-7);
}

.link,
.link:visited {
    color: var(--color-gray-8);
}

.link:hover {
    color: var(--color-primary-7);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.2px;
}

.btn {
    font-size: 1.05rem;
    padding: 0.3rem 0.75rem;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    box-shadow: var(--shadow-light);
}

.btn-empty,
.btn-empty:visited {
    color: var(--color-primary-6);
    border: 2px solid var(--color-primary-6);
    background-color: var(--color-white);
}

.btn-fill,
.btn-fill:visited {
    color: var(--color-white);
    border: 2px solid var(--color-primary-6);
    background-color: var(--color-primary-6);
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn:hover,
.btn:visited:hover {
    border: 2px solid var(--color-primary-8);
    background-color: var(--color-primary-8);
    color: var(--color-white) !important;
}

.wrapper {
    padding: 2rem 3rem;
    border-radius: 10px;
    border: 2px solid var(--color-gray-4);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Reduce the padding relative to the screen size for mobile screens */
@media only screen and (max-width: 900px) {
    .wrapper {
        padding: 2rem 3vw;
    }
}

/* Reduce the shadow in mobile screens <= 600px */
@media only screen and (max-width: 600px) {
    .wrapper {
        box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.3);
    }
}

.heading-2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primary-7);
}

.heading-2 a:visited {
    color: var(--color-primary-7);
}

.heading-2 a:hover {
    color: var(--color-primary-8);
}

.errors {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-danger);
}
