#tracks {
    display: flex;
    padding: 3rem 15%;
    gap: 2rem;
    align-items: stretch;
}

.tracks-header {
    text-transform: capitalize;
    color: var(--color-primary-7);
}

.tracks-header .title {
    color: var(--color-gray-7);
    font-weight: 400;
}

.tracks-header .highlight {
    color: var(--color-primary-7);
}

.track-table {
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.track-table__head {
    border-bottom: 2.5px solid var(--color-gray-4);
}

.track-table__head th {
    text-align: left;
    padding: 5px 0;
    color: var(--color-primary-8);
    border-bottom: 2px solid var(--color-gray-4);
    border-collapse: separate;
}

.track-table__head th:not(:last-child) {
    padding-right: 1.5rem;
}

.track-row:hover,
.tracks-row:hover {
    background-color: var(--color-primary-1);
}

.genres-row .genres-cell {
    margin-top: -5px;
    padding: 7px 0;
}

.track-row td {
    padding: 5px 0;
}

.track-row .track-heading {
    display: flex;
    flex-direction: column;
}

.track-row .track-heading__title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-gray-7);
    cursor: pointer;
}

.track-heading__artist {
    font-size: 0.9rem;
    color: var(--color-gray-6);
}

/* Tracks Navigation */
.tracks-nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* gap: 5rem; */
    margin-bottom: 1rem;
}

.tracks-nav .pave-nav {
    display: flex;
    gap: 0.5rem;
}

.tracks-nav .pave-nav:last-child {
    margin-right: 2.5rem;
}

.tracks-nav .page {
    flex: 1;
    text-align: center;
}
