<header id="header">
    <h2 class="header__heading heading-2"><a href="/">CS235 Music Library</a></h2>

    <form class="search-form" method="POST" action="{{url_for('tracks_bp.search_tracks')}}">
        {{ search_form.csrf_token }}
        <div class="search-form__field">
            {{ search_form.search_key }}
        </div>

        <div class="search-form__group">
            <div class="search-form__field">
                {{search_form.text(class_="input")}}
            </div>
            <button type="search" class="submit">
                <!-- Search svg icon -->
                <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="28px" height="28px">
                    <path
                        d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z" />
                </svg>
            </button>
        </div>
    </form>

    <!-- Button for showing the search form. This element is only visible in the mobile screen size -->
    <button id="search-icon" class="search-icon">
        <svg fill="#333333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="28px" height="28px">
            <path
                d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z" />
        </svg>
    </button>


    <nav class="header__nav">
        <div class="header__nav-items">
            <a class="link" href="{{ url_for('albums_bp.browse_albums') }}">Albums</a>
            <a class="link" href="{{ url_for('tracks_bp.browse_tracks') }}">Tracks</a>
        </div>
        <div class="header__nav-auth">
            <!-- If the username is not found, that means user is not authenticated. So show login and register links -->
            {% if not user_name %}
            <a class="btn btn-empty" href="{{ url_for('authentication_bp.login') }}">Login</a>
            <a class="btn btn-fill" href="{{ url_for('authentication_bp.register') }}">Register</a>

            <!-- If authenticated, show username and logout button -->
            {% else %}
            <p class="header__user">
                {{user_name}}
            </p>
            <a class="btn btn-empty" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
            {% endif %}
        </div>
    </nav>
</header>