<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Music Librarian</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="static/css/main.css">
    <!-- <link rel="bookmark" type="image/x-icon" href="favicon.ico" /> -->
    <!-- <link rel="icon" href="favicon.ico" /> -->
</head>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>
    <div id="App">
        <!-- Include header partial. -->
        {% include 'partials/header.html' %}

        <div id="container">
            <!-- Main content block to be supplied by page. -->
            {% block content %} {% endblock %}
        </div>

        <!-- Include footer partial. -->
        {% include 'partials/footer.html' %}
    </div>
</body>

</html>